/*FONTS*/
/*#############################################*/

@font-face {
    font-family: 'open_sansregular';
    src: url('../Fonts/opensans-regular-webfont.woff2') format('woff2'),
        url('../Fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sans_semiboldregular';
    src: url('../Fonts/opensans-semibold-webfont.woff2') format('woff2'),
        url('../Fonts/opensans-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansbold';
    src: url('../Fonts/opensans-bold-webfont.woff2') format('woff2'),
        url('..Fonts/opensans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'audiowideregular';
    src: url('../Fonts/audiowide-regular-webfont.woff2') format('woff2'),
        url('../Fonts/audiowide-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/*--- MEDIA QUERY KLEIN ---*/
/*#######################################################*/
/*#######################################################*/


@media(max-width: 767px) {

    /*header*/

    body,
    html {
        background-color: #fff;
        min-height: 100%;
    }


    #container {
        width: 95%;
        height: 100%;
        margin: 0 auto;
        background-color: #f6f1e8;
    }

    header {
        min-height: 100vh;
    }

    header h1 img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 65%;
        /*        border-radius: 20px;*/
    }

    /*
    .img-shadow{
        position: relative;
        width: 100%;
    
    }
*/

    /*
    .img-shadow:before,
    .img-shadow:after {
        content: "";
        position: absolute;
        z-index: -1;
        box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.8);
        -moz-box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.8);
        -webkit-box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.8);
        top: 10px;
        bottom: 10px;
        left: 0;
        right: 0;
        border-radius: 100px / 10px;
    }

    .img-shadow:after {
        right: 10px;
        left: auto;
        transform: skew(8deg) rotate(3deg);
    }
*/
    /*

    .img-shadow {
        position: absolute;
        width: 100%;
        height: 100%;
        box-shadow: inset 3px 3px 10px 0 #000000;
        border-radius: 20px;
        top: 0;
        left: 0;
    }
*/

    nav {
        margin-right: 0;
        position: absolute;
        right: 35px;
        top: 60px;
        width: 80px;
        height: 160px;
        text-align: right;
        padding: 20px 5px 20px 0;
        z-index: 5;
        transition: 0.3s all ease;
        transform-origin: 100% 30%;
        display: block;
        background: #8e6742;
        border: 3px solid #8e6742;
        border-radius: 5px;
    }

    nav.hide {
        transform: scale(0);
    }

    nav a {
        font-family: 'open_sansregular', sans-serif;
        font-size: 13px;
        letter-spacing: 2px;
        color: #f6f1e8;
        line-height: 2em;
        text-decoration: none;
    }

    #paneelKnop {
        width: 30px;
        height: 18px;
        position: absolute;
        right: 35px;
        top: 20px;
        cursor: pointer;
    }

    .knopOpen {
        background-image: url(../img/hamburger-impr.png);
    }

    .knopGesloten {
        background-image: url(../img/cross-impr.png);
        background-repeat: no-repeat;
        background-size: contain;
    }

    /*main*/
    .red {
        color: #941711;
        font-weight: bold;
        background: none;
    }

    #about {
        background: rgba(96, 213, 232, 0.51);
        height: 80vh;
    
    }

    #about h1,
    #formats h1,
    #image h1,
    #contact h1 {
        font-family: 'open_sansbold', sans-serif;
        font-size: 24px;
        letter-spacing: 2px;
        line-height: 1.5em;
        margin: 50px;
    }
    
    #about h1{
        width: 179px;
        border-right: 4px solid #8e6742;
        border-radius: 2px;
    }

    
    #about h1::after {
        content: "";
        display: block;
        width: 165px;
        height: 4px;
        background-color: #8e6742;
        border-radius: 2px;
    }


    #about-p1    {
        font-family: 'open_sansregular', sans-serif;
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 1.5em;
        margin: 25px;
    }

    #about-p2 {
        font-family: 'open_sans_semiboldregular', sans-serif;
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 1.5em;
        float: right;
        width: 200px;
        margin-bottom: 55px;
    }
    
     #social-icons-klein {
        width: 90px;
        position: relative;
        top: 305px;
        left: 20px;
        justify-content: space-between;
        display: flex;
    }
    
    #social-icons-groot{
        display: none;
    }


    #formats {
        background: rgba(148, 23, 17, 0.51);
        height: 50vh;
        margin-top: 300px;

    }

    #formats-p1 {
        color: #f6f1e8;
    }

}

/*--- MEDIA QUERY GROOT---*/

/*#######################################################*/
/*#######################################################*/

@media(min-width: 768px) {

    /*header*/

    body,
    html {
        background-color: #fff;
        min-height: 100%
    }


    #container {
        width: 90%;
        height: 100%;
        margin: 0 auto;
        background-color: #f6f1e8;

    }

    header {
        min-height: 100vh;
    }

    header h1 img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 40%;
    }

    /*
    header h1 img:before,
    header h1 img:after {
        content: "";
        position: absolute;
        z-index: -1;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
        top: 10px;
        bottom: 10px;
        left: 0;
        right: 0;
        border-radius: 100px / 10px;
    }

    header h1 img:after {
        right: 10px;
        left: auto;
        transform: skew(8deg) rotate(3deg);
    }
*/

    .menu {
        position: absolute;
        display: flex;
        align-items: center !important;
        width: 350px;
        height: 50px;
        right: 70px;
    }

    nav {
        position: absolute;
        top: 17px;
        width: 345px;
        height: 48px;
        right: 70px;
        transition: 0.3s all ease;
        transform-origin: 100% 25%;

    }

    nav.hide {
        transform: scale(0);
    }

    nav a {
        /*        font-family: 'open_sans_semiboldregular', sans-serif;*/
        font-family: 'open_sansregular', sans-serif;
        font-size: 16px;
        letter-spacing: 1px;
        color: #8e6742;
        line-height: 1.5em;
        text-decoration: none;
        padding: 0 4px;
    }

    #paneelKnop {
        width: 30px;
        height: 18px;
        position: absolute;
        right: 35px;
        top: 20px;
        cursor: pointer;
    }

    .knopOpen {
        background-image: url(../img/hamburger-impr.png);
    }

    .knopGesloten {
        background-image: url(../img/cross-impr.png);
        background-repeat: no-repeat;
        background-size: contain;
    }

    /*main*/

    .red {
        color: #941711;
        font-weight: bold;
        background: none;
    }

    #about {
        background: rgba(96, 213, 232, 0.51);
        height: 50vh;
        margin-top: 50px;
    }

    #about h1,
    #formats h1,
    #image h1,
    #contact h1 {
        font-family: 'open_sansbold', sans-serif;
        font-size: 30px;
        letter-spacing: 2px;
        line-height: 1.5em;
        margin: 50px;
    }
    
    #about h1{
        width: 220px;
        border-right: 4px solid #8e6742;
        border-radius: 2px;
    }

/*
    #about h1::before {
        content: "";
        display: block;
        width: 207px;
        height: 3px;
        background-color: #8e6742;
        border-radius: 2px;
        margin-top: 2px;
        margin-bottom: 2px;
    }
*/
    
    #about h1::after {
        content: "";
        display: block;
        width: 207px;
        height: 4px;
        background-color: #8e6742;
        border-radius: 2px;
/*
        margin-top: 2px;
        margin-bottom: 2px;
*/
    }


    #about-p1,
    #about-p2,
    #formats-p1 {
        font-family: 'open_sansregular', sans-serif;
        font-size: 20px;
        letter-spacing: 1px;
        line-height: 1.5em;
        margin: 25px;
    }

    #about-p2 {
        font-family: 'open_sans_semiboldregular', sans-serif;
        float: right;
    }

    #social-icons-groot{
        width: 160px;
        position: relative;
        top: 160px;
        left: 1150px;
        justify-content: space-between;
        display: flex;
    }
    
    #social-icons-klein{
        display: none;
    }
    #formats {
        background: rgba(148, 23, 17, 0.51);
        height: 50vh;
        margin-top: 300px;

    }

    #formats-p1 {
        color: #f6f1e8;
    }


}
